:root {
    --main-padding: 0.4rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid purple;
}

.container {
    height: 100vh;
    color: white;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.6fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "nav nav nav nav"
    "main main main sidebar"
    "Content1 Content2 Content3 sidebar"
    "footer footer footer sidebar";
    text-align: center;
    text-transform: uppercase;
}

nav {
    background-color: teal;
    grid-area: nav;
    padding: var(--main-padding);
    width: 100%;
}
.nav-container {
    display: grid;
    font-size: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}
.nav-container span {
    display: inline-block;
}

main {
    background-color: darkgreen;
    grid-area: main;
    padding: var(--main-padding);
}

#sidebar {
    background-color: darkslategray;
    grid-area: sidebar;
    padding: var(--main-padding);
}

#Content1 {
    background-color: #049504;
    grid-area: Content1;
    padding: var(--main-padding);
}

#Content2 {
    background-color: #956904;
    grid-area: Content2;
    padding: var(--main-padding);
}

#Content3 {
    background-color: #0464be;
    grid-area: Content3;
    padding: var(--main-padding);
}

footer {
    background-color: #e205d0;
    grid-area: footer;
    padding: var(--main-padding);
}

@media (max-width: 768px) {
    #sidebar {display: none;}
    .container {
        gap: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "nav nav"
        "main main"
        "main main"
        "Content1 Content2"
        "Content3 Content3"
        "footer footer";
    }
    .nav-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #sidebar {display: block;}
    .container {
        gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "Content1"
        "Content2" 
        "Content3"
        "footer";
    }
    .nav-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}